:root{
    --navbar-height: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

.bg-dark {
    background: black!important;
}

strong {
    font-weight: 500;
}

a {
    color: #f35b3f;
    text-decoration: none;
    transition: all .3s;
}

a:hover,
a:focus {
    color: #f35b3f;
    border: 0;
    text-decoration: none;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 18px;
    line-height: 34px;
}

::-moz-selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
}


/***** Wrapper *****/

.wrapper {
    display: block;
}


/***** Sidebar *****/

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: var(--navbar-height);
    left: -255px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    /* box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5); */
    border: 1px black solid;
    text-align: left;
}

.sidebar.active {
    left: 0;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}

.sidebar .logo {
    padding: 5px 5px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active>a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top {
    padding: 20px;
    text-align: center;
}

.sidebar .dark-light-buttons {
    padding: 10px 20px 30px 20px;
    text-align: center;
}


/* sidebar light */

.sidebar.light {
    background: #fff;
    color: #888;
}

.sidebar.light .dismiss {
    background: #ddd;
    color: #888;
}

.sidebar.light .dismiss:hover,
.sidebar.light .dismiss:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light .logo {
    border-color: #eee;
}

.sidebar.light .logo a {
    background-image: url(../img/logo-dark.png);
}

.sidebar.light ul.menu-elements {
    border-color: #eee;
}

.sidebar.light ul li a {
    color: #888;
}

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active>a:hover,
.sidebar.light ul li.active>a:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light ul li.active>a,
.sidebar.light a[aria-expanded="true"] {
    background: #ddd;
    color: #888;
}

.sidebar.light ul ul a {
    background: #ddd;
}

.sidebar.light ul ul li.active>a {
    background: #ccc;
}

.sidebar.light a.btn-customized-3 {
    background: #ddd;
    color: #888;
}

.sidebar.light a.btn-customized-3:hover,
.sidebar.light a.btn-customized-3:active,
.sidebar.light a.btn-customized-3:focus,
.sidebar.light a.btn-customized-3:active:focus,
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark {
    background: #555;
}

.sidebar.light a.btn-customized-4.btn-customized-light {
    background: #eee;
}

.sidebar.light a.btn-customized-4.btn-customized-dark:hover,
.sidebar.light a.btn-customized-4.btn-customized-dark:active,
.sidebar.light a.btn-customized-4.btn-customized-dark:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover,
.sidebar.light a.btn-customized-4.btn-customized-light:active,
.sidebar.light a.btn-customized-4.btn-customized-light:focus,
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc;
    color: #fff;
}


/***** Dark overlay *****/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 0;
}


/***** Content *****/

.content {
    width: 100%;
    transition: all 0.3s;
}


/****** Top Navbar *****/

.open-menu {
    margin-right: 10px;
}

.navbar{
    padding: 8px 6px;
    height: var(--navbar-height);
    padding-bottom: auto!important;
    padding-top: auto!important;
}

a.navbar-brand img {
    margin: 0 10px;
}

a.navbar-brand{
    font-weight: 800;
    font-size: x-large;
}

.carousel{
    height: 80vh;
}

.carousel img{
    height: 80vh;
}

@media (max-width: 422px) {
    .carousel{
        height: 50vh;
    }

    .carousel img{
        height: 50vh;
    }
}

.search_icon{
    padding-right: 12px!important;
    padding-left: 12px!important;
}

.signin_signup{
    padding-right: 8px!important;
    padding-left: 12px!important;
    margin-bottom: -30px;
}

.avatar{
    margin-bottom: 4px;
}

.signin_signup a{
    color: rgb(255, 255, 255, 0.88);
    font-weight: 600;
    font-size: large;
    text-decoration: none;
}

.signin_signup a:hover{
    color: white;
}

.show-mobile{
    display: none;
}


@media (max-width: 680px) {
    .show-desktop-flex{
        padding: 0 20px;
        display: none;
    }

    .show-desktop{
        display: none;
    }

    .show-mobile{
        display: inline-block;
    }
}


/***** Footer *****/

footer {
    padding: 40px 0;
}