<div class="row">
    {% for s in series %}
                 
        <div class="card-series col-sm-3 py-2 box-shadow">
          <a href="{{s.get_absolute_url}}">
          <img class="card-img-top" src="{{ s.cover_image.url }}" alt="{{s.title}}"></a>
          <div class="card-body">
            {% comment %} <a href="{{s.get_absolute_url}}"> {% endcomment %}
            <div class="card-title">
                {{s.title}}
            </div>  
              {% comment %} </a> {% endcomment %}
            <div class="card-subtext">
                <a href="#" class="">{{s.genre}}</a>
            </div>
            <div class="card-text">
                {{s.description|truncatewords:"30"}}
            </div>
        
            <div class="card-subtext">
                {% include 'series/snippet_tag_labels.html' with tags=s.tags.all %}
            </div>
            
          </div>
      </div>
    {% endfor %}
</div>
