{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="{% url 'users:password_reset_complete' %}" method="post">
        {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-dark" value="Change my password"/>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}