{% extends 'base_users.html' %}
{% load crispy_forms_tags %}

{% block title %}
Register on WEBFLIX
{% endblock %}

{% block content %}

    <p class="login-card-description">Sign Up for an Account</p>
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        <p> {{form.errors }} <p>
        <div class="form-group">
            <label for="username" class="sr-only">{{form.username.label_tag}}</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">{{form.email.label_tag}}</label>
            <input type="email" name="email" id="id_email" class="form-control" placeholder="@ipec.org.in">
        </div>
        <div class="form-group mb-4">
            <label for="password1" class="sr-only">{{form.password1.label_tag}}</label>
            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="***********">
        </div>
        <div class="form-group mb-4">
            <label for="password2" class="sr-only">{{form.password2.label_tag}}</label>
            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="***********">
        </div> 
        <input class="btn btn-block login-btn mb-4" type="submit" value="Sing Up">
        <input type="hidden" name="next" value="{{ next }}" />
    </form> 


{% endblock %} 